@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#000C40,#607D8B);
    --background: 243 100% 98.26%;
    --foreground: 243 10% 0.52%;

    --muted: 243 10% 91.3%;
    --muted-foreground: 243 5% 41.3%;

    --popover: 243 10% 91.3%;
    --popover-foreground: 243 10% 0.65%;

    --card: 243 10% 91.3%;
    --card-foreground: 243 10% 0.65%;

    --border: 243 15% 89.52%;
    --input: 243 15% 89.52%;

    --primary: 243 100% 13%;
    --primary-foreground: 243 2% 91.3%;

    --secondary: 243 5% 95.65%;
    --secondary-foreground: 243 7% 11.3%;

    --accent: 243 5% 95.65%;
    --accent-foreground: 243 7% 11.3%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 243 100% 13%;

    --radius: 0.5rem;
  }
  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#1c92d2,#f2fcfe);

    --background: 214 49.4% 3.76%;
    --foreground: 214 7.6% 97.35%;

    --muted: 214 38% 14.1%;
    --muted-foreground: 214 7.6% 54.7%;

    --popover: 214 49.8% 6.109999999999999%;
    --popover-foreground: 214 7.6% 97.35%;

    --card: 214 49.8% 6.109999999999999%;
    --card-foreground: 214 7.6% 97.35%;

    --border: 214 38% 14.1%;
    --input: 214 38% 14.1%;

    --primary: 214 76% 47%;
    --primary-foreground: 214 7.6% 4.699999999999999%;

    --secondary: 214 38% 14.1%;
    --secondary-foreground: 214 7.6% 97.35%;

    --accent: 214 38% 14.1%;
    --accent-foreground: 214 7.6% 97.35%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 214 7.6% 97.35%;

    --ring: 214 76% 47%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}