@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#134E5E,#71B280);
    --background: 205 98.3% 98.44%;
    --foreground: 205 6.6000000000000005% 0.88%;

    --muted: 205 6.6000000000000005% 92.2%;
    --muted-foreground: 205 3.3000000000000003% 42.2%;

    --popover: 205 37.199999999999996% 92.2%;
    --popover-foreground: 205 6.6000000000000005% 1.1%;

    --card: 205 37.199999999999996% 92.2%;
    --card-foreground: 205 6.6000000000000005% 1.1%;

    --border: 205 11.600000000000001% 89.88%;
    --input: 205 11.600000000000001% 89.88%;

    --primary: 205 66% 22%;
    --primary-foreground: 205 1.32% 92.2%;

    --secondary: 205 3.3000000000000003% 96.1%;
    --secondary-foreground: 205 4.96% 12.2%;

    --accent: 205 3.3000000000000003% 96.1%;
    --accent-foreground: 205 4.96% 12.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 205 66% 22%;

    --radius: 0.5rem;
  }
  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#EFEFBB,#D4D3DD);

    --background: 64 40.3% 6.72%;
    --foreground: 64 6.2% 99.2%;

    --muted: 64 31% 25.2%;
    --muted-foreground: 64 6.2% 58.4%;

    --popover: 64 52.6% 10.92%;
    --popover-foreground: 64 6.2% 99.2%;

    --card: 64 52.6% 10.92%;
    --card-foreground: 64 6.2% 99.2%;

    --border: 64 31% 25.2%;
    --input: 64 31% 25.2%;

    --primary: 64 62% 84%;
    --primary-foreground: 64 6.2% 8.4%;

    --secondary: 64 31% 25.2%;
    --secondary-foreground: 64 6.2% 99.2%;

    --accent: 64 31% 25.2%;
    --accent-foreground: 64 6.2% 99.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 64 6.2% 99.2%;

    --ring: 64 62% 84%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}